<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hello</title>
    <meta name="description" content="此页面用来引导访客转向不同页" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/purecss/pure_caicai.css" />
    <link rel="stylesheet" href="/static/purecss/grids-responsive-min.css" />
  </head>

  <body style="background: rgb(255, 255, 255)">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
          <a href="http://caicaiweb.top:8000/hello/" class="pure-menu-link">
            <b>Home</b>
          </a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a id="menuLink1" class="pure-menu-link" target="_blank">Related Links</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="https://www.bilibili.com/" class="pure-menu-link" target="_blank">
                <img src="https://www.bilibili.com/favicon.ico?v=1"
                  style="width: 1em; margin-inline-start: 0.5em"
                  rel="bilibili icon" />
                哔哩哔哩
              </a>
            </li>
            <li class="pure-menu-item">
              <a id="cy-effective-orcid-url" class="pure-menu-link"
                href="https://orcid.org/0000-0002-1721-3323"
                target="orcid.widget" rel="me noopener noreferrer">
                <img
                  src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
                  style="width: 1em; margin-inline-start: 0.5em" alt="ORCID iD
                  icon" />
                ORCiD
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">……</a>
            </li>
          </ul>
        </li>
        <li class="pure-menu-item">
          <a href="#" class="pure-menu-link">About Me</a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a id="menuLink1" class="pure-menu-link">Little Tools</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="http://yuhaocai.pythonanywhere.com/seqbeautify/"
                class="pure-menu-link" target="_blank">ATGC序列美化</a>
            </li>
            <li class="pure-menu-item">
              <a
                href="http://yuhaocai.pythonanywhere.com/insect_classification_key_list/"
                class="pure-menu-link" target="_blank">检索表作业</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <hr />
    <header style="text-align: center">
      <h1>Hey, what's up?</h1>
      <h1>Here's caicai's home page~</h1>
    </header>
    <!-- <script src="" async defer></script> -->
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <a href="http://caicaiweb.top:8000/managebioseq/"
          style="text-decoration: none">
          <button class="pure-button-active pure-button">
            <img src="../static/images/bishe.jpg" alt="" width="300px" />
          </button>
          <p>基于 Hbase 的 FASTA 生信序列数据管理工具</p>
        </a>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <a href="http://yuhaocai.pythonanywhere.com/insect_classification_key_list/"
          style="text-decoration: none" target="_blank">
          <button class="pure-button-active pure-button">
            <img src="../static/images/jsb.png" alt="" width="300px" />
          </button>
          <p>基于 MySQL 的鳞翅目昆虫检索表</p>
        </a>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">Good good study, day day up!👆</div>
      <div class="pure-u-1 pure-u-md-1-2">
        <h2>👆</h2>
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
    </div>
  </body>

</html>