<html>
    <p>您使用“P450”作为关键词在“别名ID”中检索到了如下结果：</p>
    <style>
        .seq-link {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .seq-link a {
            display: block;
        }
        .seq-link:hover {
            background: #f2f2f2;
        }
    </style>
    <div class="seq-link">
        <a href='/managebioseq/logged/managebioseq_seq_detail?renamed_id=Harm_P450-1'><strong>Harm_P450-1</strong></a>
        <p>seq_ID: LOC110378942</p>
        <p>Description: cytochrome P450 4C1</p>
    </div>
    <div class="seq-link">
        <a href='/managebioseq/logged/managebioseq_seq_detail?renamed_id=Harm_P450-2'><strong>Harm_P450-2</strong></a>
        <p>seq_ID: LOC110374762</p>
        <p>Description: cytochrome P450 CYP12A2</p>
    </div>
    <div class="seq-link">
        <a href='/managebioseq/logged/managebioseq_seq_detail?renamed_id=Harm_P450-3'><strong>Harm_P450-3</strong></a>
        <p>seq_ID: LOC110377394</p>
        <p>Description: cytochrome P450 4d2</p>
    </div>
    <hr/>
    点击链接以查看该序列的详细信息。
</html>